# Android build
android/app/build/
android/.gradle/
android/build/
android/capacitor-cordova-android-plugins/build/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Backups
*.old.js

# Local
android/local.properties
